@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="border border-success bg-success bg-opacity-10 text-center">This text has been inserted using <span class="text-danger">partial</span> tag</div>
