@page

@using WebApplicationSections.Models
@model WebApplicationSections.Pages.ContactsModel

@{
    ViewData["Title"] = "Contacts";
}

<div class="container">

    <div class="row mt-lg-5">
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-success text-white"><i class="bi bi-front me-2"></i>Contacts Partial views</div>
                        <div class="card-body bg-success bg-opacity-10">
                            @{
                                await Html.RenderPartialAsync("_ContactsPartial", Model.Contacts);
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="row border-start">
                <div id="SideBar" class="col-12">

                    @{
                        await Html.RenderPartialAsync(
                            "_IndexPartial",
                            new PageContainer()
                            {
                                FirstName = "Karen",
                                LastName = "Payne",
                                DateOnly = new DateOnly(1956, 9, 24),
                                Page = CurrentPage.Contacts
                            });
                    }

                </div>
            </div>
        </div>
    </div>


</div>



