@page
@using WebApplicationSections.Models

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <div class="row mt-lg-5">
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-header bg-success text-white"><i class="bi bi-front me-2"></i>Index Partial views</div>
                        <div class="card-body">
                            <img src="assets/shuttle-sm.png" class="float-start" width="230" height="118" />
                            <p class="card-text">The most significant things we can think about, when we think about Apollo, is that it has opened for us, for us being the World, a challenge of the future. The door is now cracked, but the promise of that future lies in the young people, not just in America, but the young people all over the world. Learning to live and learning to work together. In order to remind all the peoples of the World, in so many countries throughout the world, that this is what we all are striving for in the future, Jack has picked up a very significant rock, typical of what we have here in the valley of Taurus Littrow. It's a rock composed of many fragments, of many sizes, and many shapes, probably from all parts of the Moon, perhaps billions of years old. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-4">
            <div class="row border-start">
                <div id="SideBar" class="col-12">
                    
                    @{
                        await Html.RenderPartialAsync(
                            "_IndexPartial", 
                            new PageContainer()
                            {
                                Page = CurrentPage.Index 
                            });
                    }

                </div>
            </div>
        </div>

    </div>

    <partial name="Shared/_Bottom.cshtml"/>

</div>

