@page
@using WebApplicationSections.Models

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <div class="row mt-lg-5">
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-header bg-success text-white"><i class="bi bi-front me-2"></i>Index Partial views</div>
                        <div class="card-body">
                            <img src="assets/shuttle-sm.png" class="float-start" width="230px" height="118px" />
                            <p class="card-text">An example for rendering partial views.<br/> <i class="bi bi-exclamation-circle ms-1"></i> Make sure to run the script under the script folder.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-4">
            <div class="row border-start">
                <div id="SideBar" class="col-12">
                    
                    @{
                        await Html.RenderPartialAsync(
                            "_IndexPartial", 
                            new PageContainer()
                            {
                                Page = CurrentPage.Index
                            });
                    }

                </div>
            </div>
        </div>

    </div>


</div>

